
.App {
  text-align: start;
  max-height: 100vh;
}
.loginText{
  color: white;
  
}
.linkovi{
  color: aliceblue;
}
.linkovi:hover{
  color: aliceblue;
}

.navigation{
  opacity: 0.8;
}
#home-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
#home-section .home-inner {
  padding-top: 150px;
}
#home-section .card-form {
  opacity: 0.8;
}
#home-section .fas{
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#HeroHunt{
  background-color:#333;
  min-height: 47,2vh;
}
#JuggHunt{
  min-height: 47,2vh;
}
.juggHuntImage:hover,
.heroHuntImage:hover{
  opacity: 0.6;
}
.register {
  padding: 1rem;
}

input.placeholderRed::placeholder {
  color: #ff0000;
  opacity: 1;
}
.card-form{
  color: white;
}

.LogOut{
  margin-left: 20px;
}


.heroImg{
  margin-bottom: 5px;
  height: 50px;
  width: 50px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #15008b;
}
.heroEliminated{
  display: none;
}
.heroShow{
  color: rgb(255, 0, 55);
  z-index: 2;
  position: fixed;
  top: 60%;
  left: 50%;
  border: 4px solid #bb1717;
  border-radius: 10px 0px 0px 10px;
  transform: translate(-50%,-50%) rotate(-45deg) ;
  font-size: 2rem;
}

.heroPoolCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}
.heroImg:hover{
  cursor: pointer;
  opacity: 0.8;
}

.HeroHunt-container{
  margin-top: 50px;
}
.descriptionHunt{
  font-size: 1.3rem;
}
.heroHunt-title{
  
  color: #1b6db1;
  margin-left: 30px;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 0 0 1vw #881126;
}
.heroHuntPool{
  margin-bottom: 6rem;
}


.Board-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.neon-orange {
  font-family: neon;
  color: #272829;
  font-size: 2rem;
  text-shadow: 0 0 3vw #f40a35;
  /* animation: neon-orange 1s ease infinite;
  -moz-animation: neon-orange 1s ease infinite;
  -webkit-animation: neon-orange 1s ease infinite; */ 
  
}

.neon-blue {
  font-family: neon;
  color: #426dfb;
  font-size: 3rem;
  /* text-shadow: 0 0 6vw #2356ff; */
  margin-left: 30px;
 
}



.winner{
  font-size: 5rem;
   animation: winner 2s linear infinite;
  -moz-animation: winner 2s linear infinite;
  -webkit-animation: winner 2s linear infinite;
  -o-animation: winner 2s linear infinite;
}
@keyframes winner {
  0%,
  100% {
    text-shadow: 0 0 0.5vw #fa1c16, 0 0 0.7vw #fa1c16, 0 0 1vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.2vw 0.2vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.3vw 0.3vw 0.1vw #40340a;
    color: #806914;
  }
}

@keyframes winner {
  0%,
  100% {
    text-shadow: 0 0  #1041ff, 0 0  #1041ff, 0 0 2vw #1041ff,
      0 0 #1041ff, 0 0  #8bfdfe;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0  #082180, 0 0  #082180, 0 0  #082180,
      0 0 0.2vw #082180, 0 0 2.7vw #082180, ;
    color: #146c80;
  }
}

.tableRow{
  margin-top: 3rem;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-bottom: 4rem;
}
.Table{
  opacity: 0.9;
 
  min-width: 100%;
  min-height: 100%;
  display: flex;
  
}
tbody{
 display: flex;
 min-width: 100%;
 min-height: 100%;
 flex-direction: column;
  
}
tr{
  display: flex;
  flex: 1 1 0;
}
td{
  display: flex;
  flex: 1 1 0;
}
.tableWrapper{
  height: 22rem;
  display: flex;
  width: 100%;
  height: 100%;
 
}
.tableCard{
  flex:1 1 0;
  
}
.TableBody{
  padding: 0 !important;
}

.juggernaut-section,
.win-section,
.register-section{
  height: 100vh;
}
.win-section{
  flex-direction: column;
}
.jugg-description{
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.7);

}
.register-section{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
.card-form{
  opacity: 0.8;
}

.wanted{
  margin-top: -50px;
}
.wanted-card:hover{
    background-color: #3292a6;
    color: #fff; 
}
.wanted-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-wrapp{
  margin-top: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Profile{
  margin-left: 2px;
}
#collasible-nav-dropdown{
  margin-right: 10px;
  color: aliceblue;
 
  
}
.collapseNav{
  display: block;
  margin-left: 10pxs;
}
.navBarColapse{
  display: flex;
}
@media only screen and (max-width: 600px){
  .heroShow{
    color: rgb(255, 0, 55);
    font-weight: 400;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 3px solid #da0808;
    border-radius: 10px 10px 10px 10px;
    transform: translate(-50%,-50%) rotate(-45deg) ;
    font-size: 2rem;
  }
  .tableRow{
    height: 22rem;
  }

  .winner{
    font-size: 2rem;
  }
  .winnerButton{
    margin-top: 3rem;
  }
}